<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <p>{{ message }}</p>
            <button v-on:click="changeStatus">Change Status</button>
            <input v-model="message">
        </div>
        
        <div id="list">
            <ol>
                <monstar-item
                    v-for="item in dogs"
                    v-bind:monstar="item"
                ></monstar-item>
                <monstar-item
                    v-for="item in birds"
                    v-bind:monstar="item"
                ></monstar-item>
            </ol>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>