<html>
    <head>
        <link rel="stylesheet" href="index.css">
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    </head>
    <body>
        
        <div id="app">
            <p>{{ message }}</p>
            <button v-on:click="changeMonstar">Change Monstar</button>
            <input v-model="message">
        </div>
        
        <div id="list">
            <ol>
                <li v-for="monstar in monstars">
                {{ monstar.name }}
                </li>
            </ol>
        </div>
        
        <script src="index.js"></script>
    </body>
</html>